opencensus
opencensus-ext-logging
opencensus-ext-azure
opencensus-extension-azure-functions
opencensus-ext-requests
opencensus-ext-mysql
azure-functions
mysql
mysql-connector-python
pyodbc
azure-storage-blob
psutil