APPINSIGHTS_INSTRUMENTATIONKEY={INSIGHTS_KEY}
APPLICATIONINSIGHTS_CONNECTION_STRING={INSIGHTS_CONNECTION_STRING}

DB_SERVER=python-appinsights-{SUFFIX}.database.windows.net
DB_DATABASE=python
DB_USERNAME={DBUSER}
DB_PASSWORD={DBPASSWORD}
DB_PORT = 1433

DBHOST=python-appinsights-{SUFFIX}-mysql.mysql.database.azure.com
DBNAME=python
DBUSER={DBUSER}@python-appinsights-{SUFFIX}-mysql
DBPASS={DBPASSWORD}

AZURE_STORAGE_CONNECTION_STRING={STORAGE_CONNECTION_STRING}
FUNCTION_URL={FUNCTION_URL}